@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Marck+Script);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  background-color: #f5f5f5;
  color: #313131;
  line-height: 21px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: center;
  margin: auto;
  width: 100%;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 10px;
}

.clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  max-width: 680px;
  margin: auto;
  text-align: center;
  padding: 0 40px;
}

code,
.inline-code {
  font-family: Droid Sans Mono;
  background-color: #eee;
  padding: 3px 5px;
  color: #e74c3c;
  display: inline-block;
  font-size: 12px;
}

code {
  display: block;
  overflow: auto;
  color: #515151;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  white-space: pre;
  text-align: left;
  
  .inline-code {
    padding: 0;
  }
  
  .code-comment {
    color: #aaa;
  }
  
  strong {
    color: #777;
  }
}

.logo {
  h1 {
    font-family: Marck Script;
    font-size: 80px;
    color: #e74c3c;
    font-weight: 400;
    padding: 80px;
  }
  
  span {
    color: #515151;
    font-size: 70px;
  }
}

section {
  margin-top: 60px;
  margin-bottom: 40px;
}

.ejs-output {
  font-size: 12px;
  color: #777;
  
  span {
    font-weight: 600;
    color: #515151;
  }
  
  .color-red {
    color: #e74c3c;
  }
  
  .color-blue {
    color: #3498db;
  }
}

blockquote {
  font-family: Open Sans;
  padding: 10px;
  margin: 0;
  background-color: #eee;
  text-align: left;
  margin-top: 20px;
  border-left: 5px solid #e5e5e5;
}

.special-comment {
  font-size: 12px;
  text-align: left;
  display: block;
  padding-left: 20px;
}

hr {
  margin: 60px;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.view-on-github {
  padding: 5px 10px;
  font-size: 12px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #818181;
  
  img {
    position: relative;
    top: -2px;
    margin-right: 2px;
    vertical-align: middle;
    max-width: 16px;
  }
  
  &:hover {
    border-color: transparent;
  }
}

.text-center {
  text-align: center;
}

.logerr-output {
  span {
    &:nth-child(odd) {
      color: #313131;
      font-weight: bold;
    }
  }
}

.top-nav {
  margin: 40px 0;
  margin-bottom: 0;
  list-style-type: none;
  
  li {
    display: inline-block;
    float: right;
  }
  
  iframe {
    margin-top: 7px;
    width: 120px;
  }
}

@media all and (max-width: 512px) {
  .wrapper {
    padding: 0 20px;
    
    p {
      text-align: left;
    }
  }
}